[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg

parts +=
    code-analysis
    zopepy
#    sphinxbuilder

eggs +=
    plone.api
    flake8-plone-api
    Products.PrintingMailHost


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    plone.app.upgrade
    ${buildout:package-name}
    ${buildout:eggs}
zcml =

environment-vars = zope_i18n_compile_mo_files true
deprecation-warnings = on


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/Products/EasyNewsletter
clean-lines = False
csslint = False
csslint-bin = ${buildout:directory}/bin/csslint
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette,.ropeproject
flake8 = True
# enable: S001 and I001 in time:
flake8-ignore = E501,P001,T000, Q000, P002, S001
flake8-max-complexity = 15
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding
jshint = False
jshint-bin = bin/jshint
multiprocessing = True
pre-commit-hook = False
return-status-codes = True

[versions]
# use latest version of coverage
coverage =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
