[buildout]
# eggs-directory = ./eggs
# extends-cache = ./extends

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/plone-4.3.x.cfg
    base.cfg

develop =

[instance]
deprecation-warnings = off
eggs +=
    plone4.csrffixes

zcml +=


[versions]
zc.buildout =
setuptools =
plone4.csrffixes = 1.1
plone.keyring = 3.0.1
plone.locking = 2.0.9
plone.protect = 3.1.1
coverage = 4.2
