[buildout]
eggs-directory = ./eggs
extends-cache = ./extends

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

develop =

[instance]
deprecation-warnings = off
#eggs +=
#zcml +=


[versions]
#zc.buildout =
#setuptools =
